<footer>
    <div class="f-info text-center py-3">
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook fs-5 mx-1"></i>
            <i class="fa-brands fa-square-instagram fs-5 mx-1"></i>
            <i class="fa-brands fa-linkedin fs-5 mx-1"></i>
        </div>
        <div class="my-2">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> |
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>